# boot, user, and kernel are owned by amlal@nekernel.org.
/dev/kernel/ @amlel-el-mahrouss
/dev/boot/ @amlel-el-mahrouss
/dev/libDDK/ @amlel-el-mahrouss
/dev/libMsg/ @0xf00sec
/dev/libSystem/ @0xf00sec
# some other parts (tools, frameworks) need ownership too.