# boot, libsci, and kernel are owned by Amlal.
/dev/kernel/ @amlel-el-mahrouss
/dev/boot/ @amlel-el-mahrouss
/dev/SCIKit/ @amlel-el-mahrouss
# some other parts (tooling, frameworks) need ownership too.