# boot, user, and kernel are owned by amlal@nekernel.org.
/dev/kernel/ @amlel-el-mahrouss
/dev/boot/ @amlel-el-mahrouss
/dev/ddk/ @amlel-el-mahrouss
/dev/libMsg/ @amlel-el-mahrouss
/dev/libSystem/ @amlel-el-mahrouss
# some other parts (tooling, frameworks) need ownership too.