1 ICON "Root/Boot/kernel-logo.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "MahroussLogic"
      VALUE "FileDescription", "NewOS microkernel."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "NewKernel"
      VALUE "LegalCopyright", "MahroussLogic"
      VALUE "OriginalFilename", "NewKernel.exe"
      VALUE "ProductName", "NewKernel"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END